<!DOCTYPE html>
<html>
<head>
  <title>YourAppName</title>
  <meta name="api-key" content="<%= current_user.authentication_token %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
  <%= yield %>
</body>
</html>
